body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
}

.nopadding {
    padding: 2px;
}

p.movies {
    margin-top: 20px;
}

p.movies > a.btn {
    margin-bottom: .2rem
}

.left-button {
    margin-left:-25px;
}

.blank {
    color: white;
}

.scaling {
    max-width: 100%;
    height: auto;
}

#search-form {
    padding: 20px;
}
