body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}

p.movies {
    line-height: 250%;
    margin-top: 20px;
}

.left-button {
    margin-left:-25px;
}

.blank {
    color: white;
}
